p{
    color: #2e4ac5;
    font-size: 18;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: coral;
    font-size: 24;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: beige;
    
}
