*{
    font-family: 'Dancing Script', cursive;
    
    padding: 0;
    margin: 0;
}
h1{
    font-family: 'Teko', sans-serif;
font-family: 'Tillana', cursive;
}
#first>h2{
    font-family: 'Shadows Into Light', cursive;
}
#second>h2{
    font-family: 'Caveat', cursive;
}
#third>h2{
    font-family: 'Secular One', sans-serif;
}
#four{
    font-family: 'Satisfy', cursive;}
body{
    border-top:  #000;
    border-style: solid;
    border-color: rgb(142, 136, 136) ;
    border-width: 20px;
    background-color:white;
}
div{
    width: 1100px;
    height: 100px;
    border: 10px;
    /* border-color: rgb(64, 73, 81);
    border-style: solid; */
    padding: 20px;
    margin: 10px;
}
#first{
border-color: rgb(114, 161, 204);
border-style: outset;
}
#second{
    border-color: rgb(244, 197, 136);
    border-style: outset;
   
    }
    #third{
        border-color: rgb(210, 210, 87);
        border-style: outset;
       
    }
    #four{
        border-color: rgb(121, 214, 85);
        border-style: outset;
       
    }
    .p1first-para{background-color: rgb(228, 238, 238);
    font-size: larger;
         color: rgb(7, 41, 74) ;
         font-family: 'Shadows Into Light', cursive}
   .p2{
    background-color: rgb(228, 238, 238);
  font-size: larger;
  font-family: 'Caveat', cursive;
color: rgb(83, 49, 5);}
.p3{
    background-color: aliceblue;
    font-size: larger;
    color:  rgb(69, 69, 3);
    font-family: 'Secular One', sans-serif
}
.p4{
    background-color: #f6ecec;
    font-size: larger;
    color:  rgb(22, 66, 5);
    font-family: 'Satisfy', cursive;
}
#first span{
    color: rgb(11, 140, 253);
}
#second span{
    color:  rgb(234, 138, 13);
}
#third span{
    color: rgb(159, 159, 14);
}
#four span{
   color:  rgb(73, 230, 11);
}