*{
    padding: 0;
    margin: 0;
}
label{
color: rgb(239, 235, 235);
}
body{
    display: flexbox;
    height: 100%;
    width: 100%;
    background-color: rgb(238, 238, 237);
}
header{
    height: 60px;
    background-color: #cbacac;
    padding: 15px;
    text-align: center;
}
header>h1{
    color: rgb(217, 219, 220);
}
nav{
    text-align: center;
    padding: 20px;
    height: 40px;
    background-color: #c5b29e;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
}
nav a:hover{
    background-color: #d87c7c;
    color: rgb(233, 230, 230);
}
main{
    height: 70%;
    text-align: center;
    height: max-content;
    background-color: #afb495;
}
div{
    display: block;
    margin: 30px;
    float: left;
    width: 25%;
    border-width: 2px;
    background-color: #aec8ba;
    border-style: dotted;
    height: fit-content;
}
footer{
    text-align: center;
    height: 100px;
    background-color: #a4c3c7;

}
main:after{
    content: "";
    display: table;
    clear: both;
}